.navbar{
    background-color: #000000 !important;
    width: 100% !important;
}
.nav-item1{
    margin-left: 0px;
    }
.nav-item2{
    margin-left: 60px;
    }
.nav-item3{
    margin-left: 60px; 
    }
.nav-itemdropdown{
    margin-left: 60px;
    }
.nav-item5{
    margin-left: 60px;
        }
.nav-item6{
    margin-left: 60px;
        }
.nav-item7{
    margin-left: 60px;
        }